Repository windandkite/storyblok, changes with the owners that docs/CODEOWNERS names for each.
All owners: @windandkite/wk-backend, @windandkite/wk-frontend, @windandkite/wk-techlead

Refactor Block Template Logic
  Block/AbstractStoryblok.php
  Block/Story.php
Owners: @windandkite/wk-backend

Add SEO Plugin Integration
  Api/Data/StoryInterface.php
  Controller/Page/View.php
  Model/Story.php
  view/frontend/layout/storyblok_page_view.xml
  view/frontend/templates/meta.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Cleanup
  Model/Story.php
Owners: @windandkite/wk-backend

Refactor Template Behaviour to use class variable directly to avoid fallback template
  Block/AbstractStoryblok.php
Owners: @windandkite/wk-backend

Refactor Template Behaviour to use class variable directly to avoid fallback template
  Block/AbstractStoryblok.php
Owners: @windandkite/wk-backend

Refactor SEO Data to add Fallback Strategy
  ViewModel/SeoMetaData.php
  view/frontend/layout/storyblok_page_view.xml
  view/frontend/templates/meta.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

BUGFIX: allow null to be passed to ViewModel
  ViewModel/SeoMetaData.php
Owners: @windandkite/wk-backend

FEATURE: Bypass Content Restriction in SB Editor
  Controller/Router.php
Owners: @windandkite/wk-backend

Bugfix Handle Metadata as string
  ViewModel/SeoMetaData.php
Owners: @windandkite/wk-backend

Add Basic Axe implementation to storyblock visual editor
  view/frontend/layout/default.xml
  view/frontend/templates/axe-core.phtml
  view/frontend/templates/bridge.phtml
Owners: @windandkite/wk-frontend

Update JS
  view/frontend/templates/axe-core.phtml
  view/frontend/templates/bridge.phtml
Owners: @windandkite/wk-frontend

Improve Axe Report
  view/frontend/templates/axe-core.phtml
Owners: @windandkite/wk-frontend

Remove Download button and post status to controller
  view/frontend/templates/axe-core.phtml
  view/frontend/templates/bridge.phtml
Owners: @windandkite/wk-frontend

Escape the errors so that <iframe> does not wrap text after it.
  view/frontend/templates/axe-core.phtml
Owners: @windandkite/wk-frontend

Escape node message to resolve issue with HTML like <frame>
  view/frontend/templates/axe-core.phtml
Owners: @windandkite/wk-frontend

Update README.md for Public release
  README.md
Owners: @windandkite/wk-techlead

axe tidyup
  view/frontend/templates/axe-core.phtml
Owners: @windandkite/wk-frontend

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general-question---support-.md
Owners: @windandkite/wk-backend

Refactor Blok Fallback Templates and add default page Blok Template
  view/frontend/templates/block/fallback.phtml
  view/frontend/templates/block/fallback_item.phtml
  view/frontend/templates/block/page.phtml
Owners: @windandkite/wk-frontend

Refactor Module for better integration with VisualEditor and Storyblok Bridge
  Block/AbstractStoryblok.php
  Block/Block.php
  Controller/Router.php
  Service/StoryRequestService.php
  view/frontend/layout/default.xml
  view/frontend/templates/bridge.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Add New Service and ViewModel
  Service/StoryblokSessionManager.php
  ViewModel/StoryblokBridgeConfig.php
Owners: @windandkite/wk-backend

Bug Fix - Resolve undefined constant error
  Service/SearchCriteriaConverter.php
Owners: @windandkite/wk-backend

Bug Fix - Remove ref
  Service/SearchCriteriaConverter.php
Owners: @windandkite/wk-backend

Update StoryblokSessionManager.php
  Service/StoryblokSessionManager.php
Owners: @windandkite/wk-backend

Force SB Bridge on Ajax Updates
  Block/Block.php
  Controller/Story/Ajax.php
Owners: @windandkite/wk-backend

Move Storyblok into new W&K tab with logo
  etc/adminhtml/system.xml
  view/adminhtml/web/css/source/_module.less
  view/adminhtml/web/css/source/module/_menu.less
  view/adminhtml/web/images/windandkite-logo.svg
Owners: @windandkite/wk-backend

FEAT: Add new configuration for homepage to be served from SB. When enabled use passed slug instead of Magento CMS page
  Plugin/Home.php
  Scope/Config.php
  etc/adminhtml/system.xml
  etc/config.xml
  etc/frontend/di.xml
Owners: @windandkite/wk-backend

Add canRestore=1 to new enable option
  etc/adminhtml/system.xml
Owners: @windandkite/wk-backend

FEAT: adding get related story by uuid function to retrieve specific related story
  Api/Data/StoryInterface.php
  Model/Story.php
Owners: @windandkite/wk-backend

Update Block.php
  Block/Block.php
Owners: @windandkite/wk-backend

Refactor SB Bridge
  view/frontend/templates/bridge.phtml
Owners: @windandkite/wk-frontend

Force Magento to use Built In Cache during SB Session
  Plugin/ForceBuiltInCachePlugin.php
  etc/frontend/di.xml
Owners: @windandkite/wk-backend

feat: Add store-view-specific Storyblok language configuration
  Scope/Config.php
  Service/StoryblokSessionManager.php
  etc/adminhtml/system.xml
  etc/config.xml
Owners: @windandkite/wk-backend

fix: Restrict _storyblok_lang parameter to editor sessions and dev mode
  Service/StoryblokSessionManager.php
Owners: @windandkite/wk-backend

Fix folder path concatenation in Router.php
  Controller/Router.php
Owners: @windandkite/wk-backend

Bugfix Refactor Sitemap StoryProvider
  Model/Sitemap/StoryProvider.php
  composer.json
Owners: @windandkite/wk-backend

feat(config): implement dynamic multi-sort rules for story lists
  Block/Adminhtml/Form/Field/CustomSortRows.php
  Block/Adminhtml/Form/Field/DirectionColumn.php
  Block/Adminhtml/Form/Field/PresetColumn.php
  Config/OptionSource/DefaultSort.php
  Config/OptionSource/DynamicSortFields.php
  Scope/Config.php
  Service/SearchCriteriaConverter.php
  etc/adminhtml/system.xml
  updates.diff
Owners: @windandkite/wk-backend

Apply suggestions from code review
  Model/Sitemap/StoryProvider.php
Owners: @windandkite/wk-backend

PR Feedback
  Scope/Config.php
  etc/adminhtml/system.xml
  etc/config.xml
  updates.diff
Owners: @windandkite/wk-backend

Update Min Storyblok Client version (1.19.0 introduced SortByCollection)
  composer.json
Owners: @windandkite/wk-backend

docs/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
* @windandkite/wk-backend

# Php files
*.php @windandkite/wk-backend

# configuration settings
*.yaml @windandkite/wk-backend

# all xmls
*.xml @windandkite/wk-backend

# frontend layout xmls
**/layout/*.xml @windandkite/wk-frontend

# all jsons
*.json @windandkite/wk-backend

# README.md
README.md @windandkite/wk-techlead

# modules README.md
**/README.md @windandkite/wk-techlead

# templates
*.phtml @windandkite/wk-frontend
*.html @windandkite/wk-frontend

# javascript
*.js @windandkite/wk-frontend

# translations
/i18n/* @windandkite/wk-frontend

# composer
/composer.json @windandkite/wk-backend

# gitignore
/.gitignore @windandkite/wk-backend
