Repository windandkite/storyblok, changes with the owners that docs/CODEOWNERS names for each.
All owners: @windandkite/wk-backend, @windandkite/wk-frontend, @windandkite/wk-techlead

docs/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
* @windandkite/wk-backend

# Php files
*.php @windandkite/wk-backend

# configuration settings
*.yaml @windandkite/wk-backend

# all xmls
*.xml @windandkite/wk-backend

# frontend layout xmls
**/layout/*.xml @windandkite/wk-frontend

# all jsons
*.json @windandkite/wk-backend

# README.md
README.md @windandkite/wk-techlead

# modules README.md
**/README.md @windandkite/wk-techlead

# templates
*.phtml @windandkite/wk-frontend
*.html @windandkite/wk-frontend

# javascript
*.js @windandkite/wk-frontend

# translations
/i18n/* @windandkite/wk-frontend

# composer
/composer.json @windandkite/wk-backend

# gitignore
/.gitignore @windandkite/wk-backend

Setup Repo
  README.md
  composer.json
  etc/module.xml
  registration.php
Owners: @windandkite/wk-techlead, @windandkite/wk-backend

Add Functionality
  Api/Data/BlockInterface.php
  Api/Data/StoryInterface.php
  Api/FieldRendererInterface.php
  Api/MediaServiceInterface.php
  Api/StoryRepositoryInterface.php
  Api/StoryServiceInterface.php
  Block/Block.php
  Block/Story.php
  Controller/Page/View.php
  Controller/Router.php
  Model/Asset.php
  Model/Block.php
  Model/Story.php
  Model/StoryRepository.php
  Model/StoryblokClientWrapper.php
  Scope/Config.php
  Service/AbstractService.php
  Service/FieldRenderer.php
  Service/MediaService.php
  Service/StoryService.php
  etc/adminhtml/system.xml
  etc/config.xml
  etc/csp_whitelist.xml
  etc/di.xml
  etc/frontend/di.xml
  etc/frontend/routes.xml
  view/frontend/layout/storyblok_page_view.xml
  view/frontend/templates/block/fallback.phtml
  view/frontend/templates/block/landing_page.phtml
  view/frontend/templates/story.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Add Asset Functionality
  Api/Data/AssetInterface.php
  Block/Block.php
  Model/Asset.php
  composer.json
  etc/di.xml
Owners: @windandkite/wk-backend

Switch to Asset VieModel
  Api/Data/AssetInterface.php
  Block/Block.php
  Block/Story.php
  Controller/Router.php
  Model/Asset.php
  Service/FieldRenderer.php
  ViewModel/Asset.php
  view/frontend/templates/block/landing_page.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

reinstate Asset Models and make witch to repositories
  Api/AssetRepositoryInterface.php
  Api/Data/AssetInterface.php
  Api/Data/DataSourceInterface.php
  Api/DataSourceRepositoryInterface.php
  Api/MediaServiceInterface.php
  Api/StoryServiceInterface.php
  Controller/Router.php
  Model/Asset.php
  Model/AssetRepository.php
  Model/DataSource.php
  Model/DataSourceRepository.php
  Model/StoryRepository.php
  Model/StoryblokClientWrapper.php
  Service/MediaService.php
  Service/StoryService.php
  etc/di.xml
Owners: @windandkite/wk-backend

no need for abstract service anymore
  Service/AbstractService.php
Owners: @windandkite/wk-backend

DRY up Client wrapper and add additional possible APIs and direct request
  Model/StoryblokClientWrapper.php
Owners: @windandkite/wk-backend

Allow Admin to restrict stories from particular folder
  Controller/Router.php
  Scope/Config.php
  etc/adminhtml/system.xml
Owners: @windandkite/wk-backend

Add Sitemap Functionality and extend getList
  Api/StoryRepositoryInterface.php
  Model/Sitemap/StoryProvider.php
  Model/StoryRepository.php
  Scope/Config.php
  etc/adminhtml/system.xml
  etc/config.xml
  etc/di.xml
Owners: @windandkite/wk-backend

Refactor Block Caching and add Webhook Controller
  Api/Data/StoryInterface.php
  Block/Adminhtml/System/Config/Form/Field/WebhookSecret.php
  Block/Story.php
  Controller/Adminhtml/Webhook/RegenerateSecret.php
  Controller/Webhook/Index.php
  Model/Story.php
  Model/StoryRepository.php
  Scope/Config.php
  etc/adminhtml/routes.xml
  etc/adminhtml/system.xml
Owners: @windandkite/wk-backend

Add Story Lister Functionality
  Block/Block.php
  Block/Story.php
  Block/StoryItem.php
  Block/StoryList.php
  Model/StoryRepository.php
  Scope/Config.php
  etc/adminhtml/system.xml
  etc/config.xml
  view/frontend/layout/storyblok_page_view.xml
  view/frontend/templates/block/fallback.phtml
  view/frontend/templates/list/default_item.phtml
  view/frontend/templates/list/default_list.phtml
  view/frontend/templates/story.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Ensure blocks within Rich text are rendered correctly
  Service/FieldRenderer.php
Owners: @windandkite/wk-backend

Update router to skip cache with storyblok preview query and correct module name
  Controller/Router.php
Owners: @windandkite/wk-backend

Refactoring
  Block/AbstractStoryblok.php
  Block/Block.php
  Block/Story.php
  Block/StoryItem.php
  Block/StoryList.php
  Controller/Adminhtml/Webhook/RegenerateSecret.php
  Controller/Page/View.php
  Controller/Router.php
  Controller/Webhook/Index.php
  Model/AssetRepository.php
  Model/DataSourceRepository.php
  Model/Sitemap/StoryProvider.php
  Model/Story.php
  Model/StoryRepository.php
  Model/StoryblokClientWrapper.php
  Scope/Config.php
  Service/FieldRenderer.php
  etc/csp_whitelist.xml
  view/frontend/layout/storyblok_page_view.xml
  view/frontend/templates/block/fallback_item.phtml
  view/frontend/templates/story/fallback.phtml
  view/frontend/templates/story/item/fallback.phtml
  view/frontend/templates/story/list/fallback.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Correct CSP Names
  etc/csp_whitelist.xml
Owners: @windandkite/wk-backend

Asset ViewModel available directly from block now
  Service/FieldRenderer.php
Owners: @windandkite/wk-backend

Modify Checks for isBlock
  Service/FieldRenderer.php
Owners: @windandkite/wk-backend

Don't throw error if data not found
  Block/Block.php
Owners: @windandkite/wk-backend

Add SB Page Body Class
  Controller/Page/View.php
Owners: @windandkite/wk-backend

Correct issue with param retention
  Block/AbstractStoryblok.php
  view/frontend/templates/story/list/fallback.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

oops didn't mean to remove this
  Block/AbstractStoryblok.php
Owners: @windandkite/wk-backend

Add Storyblok Bridge Integration
  Api/StoryRepositoryInterface.php
  Block/Block.php
  Controller/Router.php
  Controller/Story/Ajax.php
  Model/StoryRepository.php
  view/frontend/layout/default.xml
  view/frontend/layout/storyblok_page_view.xml
  view/frontend/templates/bridge.phtml
  view/frontend/templates/story/page.phtml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Refactor Page View Handles, meta data and classes
  Controller/Page/View.php
  view/frontend/layout/storyblok_page_view.xml
  view/frontend/layout/storyblok_page_view_startpage.xml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Correct Bug with Storyblok Comments
  Block/Block.php
  Controller/Router.php
  Model/StoryRepository.php
Owners: @windandkite/wk-backend

Major refactor in how Storyies are requested
  Api/Data/StoryInterface.php
  Api/StoriesSearchCriteria.php
  Api/StoriesSearchCriteriaBuilder.php
  Api/StoriesSearchCriteriaInterface.php
  Api/StoryRepositoryInterface.php
  Block/AbstractStoryblok.php
  Block/Block.php
  Block/Story.php
  Block/StoryList.php
  Controller/Page/View.php
  Model/Story.php
  Model/StoryRepository.php
  Model/StoryblokClientWrapper.php
  Service/FieldRenderer.php
  Service/SearchCriteriaConverter.php
  Service/StoryRenderer.php
  Service/StoryRequestService.php
Owners: @windandkite/wk-backend

Ensure falsey values are also kept
  Model/StoryRepository.php
  Service/SearchCriteriaConverter.php
Owners: @windandkite/wk-backend

Add Breadcrumbs to Ajax layout
  Controller/Story/Ajax.php
  view/frontend/layout/storyblok_index_ajax.xml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Modify Related stories to keep order and cache results within object data
  Api/Data/StoryInterface.php
  Model/Story.php
Owners: @windandkite/wk-backend

Update WebHook Controller for CSRF Validation
  Controller/Webhook/Index.php
Owners: @windandkite/wk-backend

Allow Template to be set Specifically
  Block/AbstractStoryblok.php
  view/frontend/layout/storyblok_page_view.xml
Owners: @windandkite/wk-backend, @windandkite/wk-frontend

Refactor Storyblok Caching Strategy
  Controller/Router.php
  Controller/Webhook/Index.php
  Model/StoryRepository.php
  Service/StoryblokCacheService.php
Owners: @windandkite/wk-backend

Handle When Breadcrumb block has been removed from layout
  Controller/Page/View.php
Owners: @windandkite/wk-backend

Remove Unique ID from block names
  Block/Story.php
  Service/StoryRenderer.php
Owners: @windandkite/wk-backend

Ensure Story is passed to ChildBlocks
  Api/FieldRendererInterface.php
  Block/Block.php
  Service/FieldRenderer.php
Owners: @windandkite/wk-backend

Refactor Router to allow plugins on Story Request
  Controller/Router.php
Owners: @windandkite/wk-backend

Refactory Blocks to allow direct rendering of an individual block
  Block/AbstractStoryblok.php
  Block/Block.php
  Block/Story.php
Owners: @windandkite/wk-backend

Refactor Caches for any associated FPC is cleaned
  Block/AbstractStoryblok.php
  Block/Story.php
  Controller/Webhook/Index.php
  Scope/Config.php
  Service/StoryblokCacheService.php
Owners: @windandkite/wk-backend

Ensure pages render when referenced stories cannot be found by catching exceptions in getStory() and returning null, null checks on getStory() dependants
  Block/AbstractStoryblok.php
  Block/Block.php
  Block/Story.php
  Block/StoryList.php
Owners: @windandkite/wk-backend

Update StoryList Cache Key Generartion Strategy
  Model/StoryRepository.php
  Service/StoryblokCacheService.php
Owners: @windandkite/wk-backend

Add Feature to restrict content types for full page routing
  Block/Adminhtml/Form/Field/AllowedContentTypes.php
  Controller/Router.php
  Scope/Config.php
  etc/adminhtml/system.xml
Owners: @windandkite/wk-backend
